extends layout

block content
  h1= title
  p Welcome to #{title}
  
  :markdown
    This is a demo of the node-qvx library that uses information from 
    http://www.scb.se/api/ (Statistics Sweden).
    There are some transformations done to fit the flat table layout that qvx data can represent
